{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}New Life{% endblock %}

{% block content %}

<div class="page-header">
<h1>New Life</h1>
</div>


      
<div id="map" style="height: 600px"></div>

{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'leaflet-0.7.3/leaflet.css' %}" />
{% endblock %}

{% block extrajs %}
    <script src="{% static 'leaflet-0.7.3/leaflet.js' %}"></script>
    
    <script>
      var map = L.map('map').setView([-43., 172.], 5);
      
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
      
      //function onMapClick(e) {
      //      alert("You clicked the map at " + e.latlng);
      //}
      //map.on('click', onMapClick);
      
      L.control.scale({imperial: false}).addTo(map);
      
	  area_url = "{% url 'rest-nzmeshblock-territory-list' 2013 %}";
	  $.ajax({
    		url: area_url,
      		dataType: 'json',
     	})
     	.done(function( json ) {
         	columns = json['results'];
         	L.geoJson(columns, {
		      
	    	}).addTo(map);
	    	
     	}); 

    </script>
{% endblock %}
